.searchBar {
    display: flex;
    justify-content: center;
}

#searchButton {
    color: black;
    background-color: gold;
}

#dropdown {
    width: 10vw;
    height: 6vh;
}

#search {
    height:6vh;
    width: 30vw;
    margin-left:10px;
    margin-right: 10px;
}